body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

a.button {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

a.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-red {
  background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}
.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.header-nav {
  font-size: 16px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  padding-bottom: 13px;
  border-bottom: 1px solid #fb565a;
}


.slider-list {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.slider-list h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-list p {
  color: #283136;
}

.header-nav,
.slider {
  background-color: #eeeeee
}

.services h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services p {
  font-weight: 400;
  color: #283136;
}

.services-list {
  list-style: none;
}

.description b {
  font-size: 45px;
  line-height: 45px;
}

.description p {
  color: #283136;
}

.bold {
  font-weight: 700;
  text-transform: uppercase;
}

.description-list {
  font-weight: 400;
  color: #283136;
}

.features p {
  font-weight: 700;
  text-transform: uppercase;
}

.features td {
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.features th {
  font-weight: 400;
  line-height: 18px;
  color: #283136;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover,
.partners a:focus {
  opacity: 1.0;
}

.partners a:active {
  opacity: 0.1;
}

.site-footer b {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.site-footer p {
  font-weight: 400;
  line-height: 22px;
  color: #444444;
}

/* Стилизация каталога */

.main-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.filter fieldset {
  border: none
}

.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  color: #283136;
  font-weight: 400;
}

.filter input:disabled + label {
  opacity: 0.3;
}

.filter button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.filter button:hover,
.filter button:focus {
  background-color: #dfdfdf;
}

.filter button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.sorting p {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting ul {
  list-style: none;
}

.sorting a {
  color: #000000;
  opacity: 0.3;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

a.current-sorting {
  opacity: 1.0;
}

.sorting a:hover,
.sorting a:focus {
  opacity: 0.6;
}

.sorting a:active {
  opacity: 1.0;
}

.catalog ul {
  list-style: none;
}

.catalog img {
  border: 1px solid rgba(0, 1, 1, 0.1);
}

ul.pagination-list {
  list-style: none;
}

.pagination-list a {
  color: #000000;
  line-height: 18px;
  background-color: #eeeeee;
  text-transform: uppercase;
}

a.pagination-current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
}

.pagination-list a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

